__pycache__/clauses.cpython-38.pyc
__pycache__/clausesets.cpython-38.pyc
__pycache__/derivations.cpython-38.pyc
__pycache__/heuristics.cpython-38.pyc
__pycache__/idents.cpython-38.pyc
__pycache__/indexing.cpython-38.pyc
__pycache__/lexer.cpython-38.pyc
__pycache__/literals.cpython-38.pyc
__pycache__/litselection.cpython-38.pyc
__pycache__/matching.cpython-38.pyc
__pycache__/rescontrol.cpython-38.pyc
__pycache__/resolution.cpython-38.pyc
__pycache__/signature.cpython-38.pyc
__pycache__/simplesat.cpython-38.pyc
__pycache__/substitutions.cpython-38.pyc
__pycache__/subsumption.cpython-38.pyc
__pycache__/terms.cpython-38.pyc
__pycache__/unification.cpython-38.pyc
__pycache__/version.cpython-38.pyc
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PyRes_Paramodulation.iml
/.idea/vcs.xml
